@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 62.5%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #121212;
  /* background-image: linear-gradient(to right bottom, #ff3366, #ba265d); */
  background-color: #faf9f9;
  background-color: hsl(225deg, 25%, 95%);
  /* background-color: hsl(210deg, 30%, 8%); */
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

blockquote {
  font-style: normal !important;
  quotes: none !important;
}

.details {
  padding: 1.5rem;
  box-shadow: 0 0 0 transparent, 0 0 0 transparent,
    0 0 3rem rgba(76, 103, 150, 0.3);
  border: 4px solid rgb(85, 99, 233);
  border-radius: 0.6rem;
}

.details__box {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 0.7fr;
  background-color: #e5e7eb;
  padding: 1.5rem;
  row-gap: 3rem;
  column-gap: 1.5rem;
  border-radius: 0.4rem;
  /******************
   Responsiveness
  ******************/
  /* 932px */
  @media screen and (max-width: 58.25em) {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
}

.box {
  padding: 2rem;

  position: relative;
  z-index: 100;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    width: 35%;
    padding-bottom: 35%;
    background-color: #fdf2e9;
    background-color: #111827;
    background-color: #f3f4f6;
    z-index: -2;
  }
  &::after {
    width: 25%;
    padding-bottom: 25%;
    background-color: #fae5d3;
    background-color: #e5e7eb;
    z-index: -1;
  }
}

.overview {
  box-shadow: 0 0 0 transparent, 0 0 0 transparent,
    0 0 3rem rgba(76, 103, 150, 0.3);
  padding: 1.6rem;
  line-height: 1.6;
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
  border-left: 4px solid rgb(23, 8, 51);
  font-size: 1.7rem;
}

.info {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
}

.description {
  display: grid;
  gap: 1rem;
  align-items: center;
  /* align-self: self-start; */
}

.description-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  color: white;
  border-radius: 4px;
}

.heading {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  /* background-image: linear-gradient(
    to right,
    #270b41,
    #320d47,
    rgba(226, 45, 226, 0.918)
  ); */
  background-color: rgb(219, 39, 119);
  padding: 1rem;
  border-radius: 0.2rem;
}

.heading-1 {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    #1c1720,
    #111f35,
    rgba(24, 75, 43, 0.808)
  );
  /* background-image: linear-gradient(to right, #7ed56f, #28b485); */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* color: rgb(38, 19, 46); */
  padding: 0 1rem;
  border-radius: 0.2rem;
  transform: skewY(0.6deg) skewX(-8deg) scale(1.04);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* .heading-1:hover {
  transform: rotate(5deg) scale(1.3);
} */

.date {
  font-size: 12px;
}

.Section-title {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-columns: max-content max-content;
  gap: 3rem;
  align-items: center;
  /* justify-items: center; */
  justify-content: end;
  width: 100%;
  margin: -0.4rem auto 0;

  &::before {
    content: "";
    width: 200px;
    height: 4px;
    background-color: orangered;
  }
}

.title {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: min-content min-content;
  text-transform: uppercase;
  /* background-color: #111827;
  color: white;
  padding: 0.6rem;
  border-radius: 4px; */
  column-gap: 1rem;
  align-items: center;
}

.name {
  font-size: 3rem;
  font-weight: 600;
  grid-column: 2 / span 1;
  grid-row: 1 / -1;
}

.brand {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.brand-1 {
  grid-column: 1 / span 1;
}
.brand-2 {
  grid-column: 1 / span 1;
  grid-row: 2 / -1;
  transform: translateY(-6px);
}
.brand-3 {
  grid-column: 3 / span 1;
}
.brand-4 {
  grid-column: 3 / span 1;
  grid-row: 2 / -1;
  transform: translateY(-6px);
}
